<%- include('header'); -%>
<div class="container">

    <div class="">
        
        <a href="/admin/verifyUser/"><h2>Yêu cầu xác nhận</h2></a>
    </div>
    <div class="">
        
        <a href="/admin/findingCustomers/"><h2>Tìm kiếm khách hàng</h2></a>
    </div>
    <div class="">
        
        <a href="/admin/recharge/"><h2>Nạp tiền vào tài khoản khách hàng</h2></a>
    </div>
    <div class="">
        
        <a href="/admin/searchHistory/"><h2>Tìm kiếm giao dịch</h2></a>
    </div>
    <div class="">
        
        <a href="/admin/findingCustomers/"><h2>Đăng xuất</h2></a>
    </div>
</div>
<%- include('../footer'); -%>