<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Đông Lào Bank</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <img src="../img/DL.png" alt="error" srcset="" class="logo">
            <p class="content">ĐÔNG LÀO BANK</p>
        </div>
    </div>
    <div class="line">

    </div>
    <div class="loginForm">
        <div class="menu">
            <ul>
                <li><a href="/"> TRANG CHỦ&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li><a href="#">GIAO DỊCH&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li><a href="#">LIÊN HỆ&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
            </ul>
        </div>
        <div class="form">
            <div class="contentForm">
                <h2>Đăng nhập dịch vụ</h2>
            </div>
            <div class="formLogin">
                <div class="row">
                    <form method="POST">
                        <div class="form-group">
                            <label for="stk">Tên đăng nhập: </label>
                            <input type="text" class="form-control" placeholder="Nhập tên đăng nhập..." name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mật khẩu: </label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập mật khẩu" name="password">
                        </div>
                        <% if(!result){ %> 
                            <div class="alert alert-danger" role="alert">
                                Sai thông tin.
                              </div>
                        <% } %> 
                        <button type="submit" class="btn btn-primary" style="background-color: #22b5ab;">Đăng nhập</button>
                    </form>
                    <div class="lineVer">

                    </div>
                    <div class="note">
                        <h2>Công cụ</h2>
                        <small class="form-text text-muted">Tra cứu bảo lãnh</small>

                        <h2>Trợ giúp</h2>
                        <small class="form-text text-muted">Xóa cache trên browser</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4" style="background-color: #22b5ab;color: white;">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h4 class="text-uppercase ">Đông Lào Bank</h4>
                    <p>Tiền của bạn là của chúng tôi.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Thông tin</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Tỉ giá</a>
                        </li>
                        <li>
                            <a href="#">Lãi suất</a>
                        </li>
                        <li>
                            <a href="#">Câu hỏi thường gặp</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Giới thiệu</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Lịch sử phát triển</a>
                        </li>
                        <li>
                            <a href="#">Cơ cấu bộ máy quản lý</a>
                        </li>
                        <li>
                            <a href="#">Thành tựu và giải thưởng</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 DongLaoBank:
            <a href="#"> DongLaoBank.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>