<nav class="navbar-primary collapsed">
    <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
    <ul class="navbar-primary-menu">
        <li>
            <a href="/admin/verifyUser"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Yêu cầu xác nhận</span></a>
            <a href="/admin/findingCustomers"><span class="glyphicon glyphicon-zoom-in"></span><span class="nav-label">Tìm kiếm khách hàng</span></a>
            <a href="/admin/recharge"><span class="glyphicon glyphicon-credit-card"></span><span class="nav-label">Nạp tiền vào tài khoản khách hàng</span></a>
            <a href="/admin/searchHistory"><span class="glyphicon glyphicon-screenshot"></span><span class="nav-label">Tìm kiếm giao dịch</span></a>
            <a href="/admin/withdrawal"><span class="	glyphicon glyphicon-eject"></span><span class="nav-label">Rút tiền</span></a>
            <a href="/admin/tktk"><span class="glyphicon glyphicon-euro"></span><span class="nav-label">Tài khoản tiết kiệm</span></a>
        </li>
    </ul>
</nav>