
/* header */

.nav-link{
    color: white !important;
}
.navbar-brand{
    font-weight: 600 !important;
    color: white !important;
}
.nav-link:hover{
    color: rgb(63, 63, 63) !important;
}




/* footer */
footer{
    margin-top: 20px;
}
footer a{
    color: white;
    text-decoration: none !important;
    font-weight: 500;
}
footer a:hover{
    color: black;
}