<footer class="page-footer font-small pt-4" style="background-color: #22b5ab;color: white;position: sticky;top: 100%;">

   
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 DongLaoBank:
      <a href="#"> DongLaoBank.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>