<footer class="page-footer font-small pt-4" style="background-color: #22b5ab;color: white;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h4 class="text-uppercase ">Đông Lào Bank</h4>
          <p >Tiền của bạn là của chúng tôi.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Thông tin</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#">Tỉ giá</a>
            </li>
            <li>
              <a href="#">Lãi suất</a>
            </li>
            <li>
              <a href="#">Câu hỏi thường gặp</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Giới thiệu</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#">Lịch sử phát triển</a>
            </li>
            <li>
              <a href="#">Cơ cấu bộ máy quản lý</a>
            </li>
            <li>
              <a href="#">Thành tựu và giải thưởng</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 DongLaoBank:
      <a href="#"> DongLaoBank.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>