<%- include('header'); -%>
    <div class="container">
        <h1>Đông Lào Bank</h1>
        <b>im here</b>
        <b>oke</b>
        <b>tao la nam day hahaha</b>
    </div>
<%- include('footer'); -%>