<%- include('header'); -%>
    <div class="container">
        <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
        <h1>Đông Lào Bank</h1>
        <b>im here</b>
        <b>oke</b>
        <b>tao la nam day hahaha</b>
        <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
        <h1>Đông Lào Bank</h1>
        <b>im here</b>
        <b>oke</b>
        <b>tao la nam day hahaha</b>
        <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
        <h1>Đông Lào Bank</h1>
        <b>im here</b>
        <b>oke</b>
        <b>tao la nam day hahaha</b>
        <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
        <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
        <h1>Đông Lào Bank</h1>
        <b>im here</b>
        <b>oke</b>
        <b>tao la nam day hahaha</b>
    </div>
<%- include('footer'); -%>