<%- include('headerindex'); -%>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <!-- HEADER -->
    <div class="mdl-layout mdl-js-layout">
        <!-- CARDS -->
        <main class="mdl-layout__content" style="background-color: azure;">
            <div class="page-content">

                <!-- SERVICES -->
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Thẻ tín dụng</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Thanh toán nhanh chóng, tiện lợi mọi lúc mọi nơi cùng với thẻ tín dụng Đông Lào Banking
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">
                            Xem chi tiết
      </a>
                    </div>
                    <div class="mdl-card__menu">
                    </div>
                </div>

                <!-- ABOUT -->
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Doanh Nghiệp</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Giải pháp tài chính và đa dạng cho doanh nghiệp
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">
                            Xem Chi tiết
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                    </div>
                </div>

                <!-- Portfolio -->
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Ngân Hàng Điện Tử</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Giao Dịch dễ dàng, an toàn bảo mật, thuận tiện mọi lúc mọi nơi!
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">
                            Xem Chi Tiết
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                    </div>
                </div>
                <!-- Portfolio -->
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Tuyển Dụng</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Cơ hội nghề nghiệp hấp dẫn và môi trường làm việc chuyên nghiệp dành cho bạn
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">
                            Xem Chi Tiết
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                    </div>
                </div>
                <!-- Portfolio -->
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Thị Trường Ngoại Hối</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Thông tin và phân tích mới nhất về thị Trường ngoại hối
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank">
                            Xem Chi Tiết
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                    </div>
                </div>
            </div>
            <%- include('footer'); -%>
        </main>

    </div>
    </body>

    </html>