<%- include('header'); -%>
    <div class="container">
        <div class="form-group">
           
            <form  method="POST">
                <label for="accountNumber">Nhập số tài khoản :</label>
                <input class="form-control" type="text" name="accountNumber" placeholder="Nhập số tài khoản">
                <label for="amountOfMoney">Nhập số tiền :</label>
                <input class="form-control" type="number" name="amountOfMoney" min="50000" step="50000" value="50000">
                <button type="submit" class="btn btn-primary">Xác nhận giao dịch</button>
              </form>
        </div>
    </div>
<%- include('footer'); -%>