<%- include('../header'); -%>
    <div class="container">
        <div class="form-group">
           <h1>Lịch sử giao dịch</h1>
           <!-- co du lieu roi dem ra gium tao nhe -->
           <% histories.forEach(function(history){ %>
            
          <% }); %>
        </div>
    </div>
<%- include('../footer'); -%></form>