<%- include('header'); -%>
<div class="container">
    <div class="">
        
        <a href="/profile/"><h2>Thông tin tài khoản</h2></a>
    </div>
    <div class="">
        
        <a href="/transfer/"><h2>Chuyển khoản cùng ngân hàng</h2></a>
    </div>
    <div class="">
        
        <a href="/history/"><h2>Lich sử giao dịch</h2></a>
    </div>
    
    <div class="">
        
        <a href="/logout/"><h2>Đăng xuất</h2></a>
    </div>
</div>
<%- include('../footer'); -%>