<%- include('../header'); -%>
<div class="container">

    <div class="">
        
        <a href="/user/transfer/"><h2>Chuyển khoản cùng ngân hàng</h2></a>
    </div>
    <div class="">
        
        <a href="/user/findingCustomers/"><h2>Lich sử giao dịch</h2></a>
    </div>
    <div class="">
        
        <a href="/logout/"><h2>Đăng xuất</h2></a>
    </div>
</div>
<%- include('../footer'); -%>