<nav class="navbar-primary">
    <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
    <ul class="navbar-primary-menu">
        <li>
            <a href="/transfer"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Chuyển Khoản</span></a>
            <a href="/profile"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Tài Khoản</span></a>
            <a href="/history"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Lịch Sử Giao Dịch</span></a>
            <a href="/tktk"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Mở Tài Khoản Tiết Kiệm</span></a>
        </li>
    </ul>
</nav>