<nav class="navbar navbar-inverse navbar-global navbar-fixed-top" style="background-color: #22b5ab">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <div class="row" style="width:250px;">
                <div class="col-sm-2">
                    <a class="navbar-brand" href="/home">
                        <img src="./../img/DL.png" alt="" style="height: 30px;">
                    </a>
                </div>
                <div class="col-sm-8">
                    <a href="/home">
                        <h4 style="color: white; padding-top: 12px;">Đông Lào Bank</h4>
                    </a>
                </div>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-user navbar-right">
                <li><a href="/profile" style="color: #000;" class="usericon"><span class="glyphicon glyphicon-user"></span> <%= curentUser.name %></a></li>
                <li><a href="/logout" style="color: #000;" class="logouticon"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>