<%- include('header'); -%>
    <div class="container" style="text-align: center;">
        <form action="" method="post">
            <img src=" <%= data %>" alt="">
            <input type="text" placeholder="Nhập mã Google Authenticator"name="otp">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
    <%- include('../footer'); -%>