<%- include('header'); -%>
    <div class="container" style="text-align: center;">
        <img src=" <%= data %>" alt="">
        <input type="text" placeholder="Nhập mã Google Authenticator">
    </div>
    <%- include('../footer'); -%>