<%- include('../header'); -%>
    <div class="container">
        <div class="form-group">
           <h1>Chuyển tiền cùng ngân hàng</h1>
            <form  method="POST">
                <label for="accountNumber">Nhập số tài khoản hưởng thụ:</label>
                <input class="form-control" type="text" name="accountNumber" placeholder="Nhập số tài khoản">
                <label for="amountOfMoney">Nhập số tiền :</label>
                <input class="form-control" type="number" name="amountOfMoney" min="50000" step="50000" value="50000">
                <label for="content">Nhập số tài khoản hưởng thụ:</label>
                <input class="form-control" type="text" name="content" placeholder="Lời nhắn...">
                <div class="form-group ">
                    <label for="inputState">Đơn vị tiền tệ</label>
                    <select id="inputState" class="form-control" name="type">
                      <option value="1" selected>VNĐ</option>
                      <option value="2">$</option>
                    </select>
                  </div>
                  <% errors.forEach(function(error){ %>
                    <div class="alert alert-danger" role="alert">
                      <%= error %> 
                    </div>
                  <% }); %>
                  <% if(status) {%>
                    <div class="alert alert-success" role="alert">
                        <%= error %> 
                      </div>
                  <% } %> 
                <button type="submit" class="btn btn-primary">Xác nhận giao dịch</button>
              </form>
        </div>
    </div>
<%- include('../footer'); -%>