HTML CSS JSResult .navbar-global {
    background-color: indigo;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-global .navbar-brand {
    color: white;
}

.navbar-primary {
    max-height: 100% !important;
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 51px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
    width: 60px;
}

.navbar-primary.collapsed .glyphicon {
    font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
    display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border-top: solid 1px rgb(82, 70, 70);
    color: rgb(97, 81, 81);
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: rgb(151, 38, 38);
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom: solid 1px #444;
    color: #ccc;
}

.navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
}

.navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
}

.main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
}

.collapsed+.main-content {
    margin-left: 60px;
}

.navbar-user :hover {
    color: white;
}

.pic {
    display: block;
    width: 120px;
    margin: 0 auto;
}

.username {
    font-size: 25px;
    text-align: center;
}

.form-control-label {
    margin-top: 6px;
    padding: 0;
    text-align: right;
}

div.col-xs-4 {
    border: 1px solid red;
}


/* Radio buttons */

.gender label span {
    position: relative;
    top: 6px;
    margin-right: -7px;
    left: -9px;
}

.gender input[type='radio'] {
    opacity: 0;
    position: absolute;
    margin-top: 5px;
    margin-left: -18px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gender input[type='radio']~i {
    position: relative;
    top: 5px;
    left: -13px;
    font-size: 20px;
    font-weight: 600;
    color: #B1B1B1;
    -webkit-transition: 0.6s ease-out 0.3s;
    -moz-transition: 0.6s ease-out 0.3s;
    -o-transition: 0.6s ease-out 0.3s;
    transition: 0.6s ease-out 0.3s;
}

.gender input[type='radio']:checked~i,
.gender input[type='radio']~i:hover {
    color: #5F6F81;
    text-shadow: 1px 1px 4px #000;
}

.datepicker {
    opacity: 0;
}

.button-container {
    text-align: center;
}

.edit-profile {
    border: 1px solid black;
    padding: 20px !important;
    border-radius: 10px;
}


/* make sidebar nav vertical */

@media (min-width: 992px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}